.child {
    margin: auto;
    width: 70%;
}

.logo-wrapper {
    margin-bottom: 1em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.logo-subtext {
    text-align: center;
}

.content {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}

.input-url {
    width: 100%;
}

.search {
    width: 20%;
    margin: auto;
    display: block;
}

iframe {
    height: 100px;
    width: 80%;
    margin: auto;
    display: block;

    border: none;
}
